@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

/* Set bulma variables to custom values */
$navbar-height: 4rem;
$navbar-item-img-max-height: 3.5rem;
$primary: rgb(168, 205, 100);

@import "../bulma/bulma.sass";

/* Banner */
.background-img {
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
}

$banners: (
    "home"  "../assets/banner.png" 0.4,
    "chilla"  "../assets/banner-chilla.png" 0.4, 
    "lifeskill"  "../assets/lifeskill_banner.png" 0.3,
    "intern"  "../assets/intern_banner.png" 0.0
    );

@each $name, $url, $overlay-percent in $banners {
  ##{$name}-banner {
    background-image: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, $overlay-percent) 0%), url($url);
  }
}

/* Navbar */
#navbar-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
}

#navbar {
    background: none;
}

// Just makes it enlarge on hover, and removes <a> decor
.clickable>.column, .clickable>div>figure>img{
    cursor: pointer;
    transition: transform .5s;
    
    &:hover {
        transform: scale(1.02);
    }

    >a {
        color: inherit;
        outline: none;
        text-decoration: none;
    }
}

// On the project card
// Set it as a background instead of just an image to resize more organically 
#chilla-img {
    background-image: url("../assets/chilla-image.png");
    min-height: 300px;
}

/* "Want to help?" section */
// The buttons
.charity-button>img {
    background: rgb(206, 235, 152);

    &:hover {
        background: rgb(182, 212, 125);;
    }

    &.is-active {
        background: $primary;
    }
}

// The box
$charity-display-color: rgb(211, 234, 194); 
.triangle-up {
    // Triangle
    width: 0; 
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid $charity-display-color;

    // Centering
    margin-left: auto;
    margin-right: auto;
}

.charity-box {
    background: $charity-display-color;
}

/* Gradients in lifeskill */
$gradients:
    "warning" $warning ltr 90deg 180deg,
    "primary" $primary rtl -90deg 0deg,
    "beige" beige ltr 90deg 180deg,
    "grey" $grey-light rtl -90deg 0deg,
    "blue" skyblue ltr 90deg 180deg;

@each $name, $color, $dir, $angle1, $angle2 in $gradients {
    .#{$name}-gradient-#{$dir} {
        background: linear-gradient($angle1, $color 30%, transparent 80%);
    
        @media (max-width: $tablet) {
            background: linear-gradient($angle2, $color 30%, transparent 100%);
        }
    }
}
