---
layout: default
title: Activities
banner: chilla
herosize: is-medium
herobody: herologo.html
logourl: /assets/chilla-logo-text.png
---

<section class="section">
    <div class="container is-max-widescreen">
        <p class="title">Recent Activities</p>
        {% for activity in paginator.posts %}
        {% if activity.special %}
            {{ activity.content }}
        {% else %}
        <div class="columns box has-background-primary-light my-5 p-0">
                <div class="column is-4 p-0">
                    {% if activity.images.size > 1 %}
                        {% assign carouselidx = forloop.index | plus: offs %}
                        {% include carousel.html images=activity.images duration="7" number=carouselidx%}
                    {% else %}
                        <picture class="image">
                            <img src="{{ activity.images.first }}" class="object-fit-cover">
                        </picture>
                    {% endif %}
                </div>
                <div class="column is-size-5 is-size-6-mobile">
                    <p class="is-size-4 is-size-5-mobile title">{{ activity.title }}</p>
                    <p class="is-size-5 is-size-6-mobile subtitle has-text-grey">{{ activity.date | date: "%B %d, %Y" }}</p>
                    {{activity.content}}
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="container is-max-widescreen">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {% if paginator.previous_page %}
                <a class="pagination-previous" href="{{ paginator.previous_page_path }}">Previous</a>
            {% else %}
                <a class="pagination-previous" disabled>Previous</a>
            {% endif %}
            <ul class="pagination-list">
                {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                        <li>
                            <a class="pagination-link is-current" aria-label="Page {{ page }}" aria-current="page">{{ page }}</a>
                        </li>
                    {% elsif page == 1 %}
                        <li>
                            <a class="pagination-link" href="{{ site.paginate_path | relative_url | replace: ':num', '' }}" aria-label="Goto page 1">1</a>
                    {% else %}
                        <li>
                            <a class="pagination-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}" aria-label="Goto page {{ page }}">{{ page }}</a>
                        </li>
                    {% endif %}

                {% endfor %}
            </ul>
            {% if paginator.next_page %}
                <a class="pagination-next" href="{{ paginator.next_page_path }}">Next</a>
            {% else %}
                <a class="pagination-next" disabled>Next</a>
            {% endif %}
        </nav>
    </div>
</section>
