---
layout: default
banner: lifeskill
herosize: is-medium
herobody: herotext.html
title: Center for Life Skill Education
---
<section class="section">
    <div class="container is-size-5-desktop">
        <p class="is-size-4-desktop has-text-centered">
            Centre for life skill education is a project under Anannia which aims to help young students to develop soft skills that are
            essential for their day to day life. The programme is structured in the form of summer camps for children at our premises 
            situated at Karakulam, Thiruvananthapuram. The camp includes a wide range of activities, listed below.
        </p>
        {% for activity in site.lifeskill_activities %}
            <div class="columns {{ activity.gradient }}-gradient-{{ activity.direction }} mt-6">
                <div class="column is-8 {% if activity.direction == "rtl" %} is-offset-4 {% endif %}">
                    <div class="columns is-vcentered">
                        {% if activity.direction == "rtl" %}
                            <div class="column is-size-3 has-text-right is-size-4-mobile has-text-centered-mobile">
                                {{ activity.content }}
                            </div>
                            <div class="column p-0">
                                <figure class="image is-3by2">
                                    <img src={{ activity.image }}>    
                                </figure>
                            </div>
                        {% else %}
                            <div class="column p-0">
                                <figure class="image is-3by2">
                                    <img src={{ activity.image }}>    
                                </figure>
                            </div>
                            <div class="column is-size-3 is-size-4-mobile has-text-centered-mobile">
                                {{ activity.content }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
<section class="section container has-text-centered">
    <p class="title">Short Films</p>
    <p class="subtitle">Direction, script, acting, editing, and everything else: all by our children.</p>
    <div class="columns">
        <div class="column is-half">
            <figure class="image is-16by9">
                <iframe class="has-ratio"
                    src="https://www.youtube.com/embed/Gbksmm_cEqE" frameborder="0" allowfullscreen></iframe>
            </figure>
        </div>
        <div class="column is-half">
            <figure class="image is-16by9">
                <iframe class="has-ratio"
                    src="https://www.youtube.com/embed/H0DsGR71CXI" frameborder="0" allowfullscreen></iframe>
            </figure>
        </div>
    </div>
</section>
