<div class="tile is-ancestor clickable">
    <div class="tile is-vertical">
        
    <!-- Assigning list reversesd to a seperate variable because of the way limit works -->
        {% assign actlist = site.general_activities | sort: 'date' | reverse %}
        {% if include.tag == 'none' %}
            {% assign activities = actlist %}
        {% else %}
            {% assign activities = actlist | where: 'tag', include.tag %}
        {% endif %}
        <!-- loop twice-->
        {% assign offs = [0, 2] %}
        {% for i in (0..1) %}
        <div class="tile">
            {% assign offs = i | times: 2 %}
            {% for activity in activities limit:2 offset:offs %}
                <div class="tile is-child p-4">
                    <a href="{{site.data.links.activities}}">
                    <div class="box pt-0 px-0 has-background-warning-light">
                        {% if activity.num %}
                            {% assign imglist="" %}
                            {% for i in (1..activity.num) %}
                                {% assign imname = activity.image | append: "_" | append: i%}
                                {% assign imglist = imglist | append: imname | append: ", " %}
                            {% endfor %}
                            {% assign images = imglist | split: ", " %}
                            {% include carousel.html images=images duration="7" %}
                        {% else %}
                            <picture class="image is-16by9">
                                <source srcset="assets/activity_images/{{activity.image}}.webp" type="image/webp">
                                <source srcset="assets/activity_images/{{activity.image}}.png" type="image/png">
                                <img src="assets/activity_images/{{activity.image}}.png" class="object-fit-cover">
                            </picture>
                        {% endif %}
                        <p class="is-size-5 has-text-centered"><b> {{ activity.title }} </b></p>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="tile is-3 p-4">
        <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fananniachilla&tabs=timeline&width=288&height=670&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=290055608366341"
             style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
</div>