<div class="container has-text-centered">
    <a class="image is-96x96 container" href={{ site.data.links.about }}>
        <img src="assets/logo-white.png">
    </a>
    <p class="title is-size-1 is-size-3-mobile has-text-white">
        Sponsor a Smile
    </p>
    <p class="subtitle has-text-centered has-text-white is-size-3 is-size-5-mobile">
        We are a non-profit focused on the betterment of the marginalized sections of the society. 
        Help us make the world a better place.
    </p>
    <button class="donate button is-link is-large has-text-weight-bold has-text-white">DONATE</button>
</div>